@import '../../assets/css/func.less';
@font-face{
  font-family:'numFont';
  src:url('./fonts/DINAlternateBold.ttf');
}
@font-face{
  font-family:'cn';
  src:url('./fonts/cn.ttf');
}
body{background: #000;color: #fff;font-size: 12px;font-family: 'cn';overflow: scroll;}
.big-data{position: relative;width: 196rem;height: 90rem;}
*{margin: 0;padding: 0;}
.font-nun{font-family:'numFont'}
.title{font-size: 1.67rem;font-weight: normal;color: #fff;margin: 7rem 0 2rem 0;
  .sub{
    background: linear-gradient(left, #FFD74B , #F65951);display:inline-block;
    height: 2rem;line-height: 2rem;padding: 0 1rem;font-size:1.17rem;box-shadow:0rem 0.17rem 0.83rem 0rem rgba(0,0,0,0.5);
    border-radius:0.17rem;margin: 0 1rem 0 2rem;
  }
  .num{font-size:1.83rem;color:rgba(255,215,75,1);}
  .iconfont{font-size:1.83rem;color:rgba(255,215,75,1);display: inline-block;}
}


.proportion-warp{position: absolute;right:6rem;bottom: 7rem;}
.proportion-box{width:48rem;position: relative;color: #fff;
  &:nth-child(1){margin-right: 6rem;}
  .proportion-body{position: relative;}
  .proportion-tag{
    width:38%;
    font-size:1.67rem;
    flex-flow: row wrap;
    p{margin:2rem 2rem 0 0;width:7rem;
      &.right{
        margin: 2rem 0 0 2rem;
      }
    }
   span{width:7rem;
      height:1.42rem;
      background:rgba(147,74,225,1);
      text-transform: uppercase;
      border-radius:0.17rem;line-height: 1.42rem;text-align: center;
      display: block;
      font-size:0.85rem;
      margin-bottom: .2rem;
    }
  }
  .proportion-circle{
    height: 13rem;
    width: 13rem;
    margin: 0 3rem;
    border:.5rem solid rgba(147,75,225,0);
    border-radius: 100%;
    background:  rgba(147,75,225,.35);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -6rem 0 0 -6.5rem;
    #canvas-box{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
  }
  &.proportion-train{
    .proportion-tag{
     span{width:6.67rem;
        background:#2C99FF;
      }
    }
    .proportion-circle{
      background:  rgba(65,115,255,.35);

    }
  }
}

.time-warp{
  .time-chart{width:100%!important;height: 9rem!important;}
  color: #fff;
  position: absolute;
  width: 48rem;
  left: 6rem;
  top:33%;
  .lengs{
    margin-bottom: 3rem;
    p{position: relative;
      padding-left:4rem;
      font-size: 1rem;
      margin-right: 3rem;
    &:before{
      content: '';
      width:3rem;
      height:0.2rem;
      background: linear-gradient(left, #F94A6F , #CE4CE5);
      border-radius: 1rem;
      position: absolute;
      left: 0;
      top:50%;
      margin-top: -.1rem;
    }
    &:nth-child(2n){
      &:before{
        background: linear-gradient(left, #40C3D1 , #1767F2);
        border-radius: 1rem;
      }
    }
  }}
  .other-info{
    margin-top: 2rem;
    div{margin-right: 3rem;}
    .iconfont{
      display: block;
      font-size: 2.4rem;
      width:3.6rem;
      color: #F94A6F;
    }

    p{
      font-size:0.83rem;

      span{
        display: block;
        b{font-size: 1.5rem;display: inline-block;font-weight: normal;display: inline-block;padding-right:.4rem;}
      }
    }
    &.train{
      .iconfont{
        color: #1767F2;
      }
    }
  }
}

.potential-warp{
  color: #fff;
  font-size:1.17rem;
  position: absolute;
  bottom:5rem;
  left: 6rem;
  width: 40%;
.potential-info{
  flex-flow: row wrap;
  .potential-item{
    width: 17rem;
    margin: 0 5rem 2rem 0;
  }
}
.potential-text{
  font-size:1.17rem;
  p:nth-child(2){  color: #FFD74B;  }
  .tag{width:3rem;
    height:1.42rem;
    background:rgba(255,215,75,1);
    border-radius:0.17rem;
    color: #000;
    font-size:0.83rem;
    padding: 0 .2rem;
    text-align: center;
  }
  .num{
    display: inline-block;
    width:4.4rem;
    text-align: right;
  }
}
.potential-line{
  height: 0.08rem;
  width: 100%;
  background: rgba(255, 255, 255, .3);
  margin-top: .5rem;
  border-radius: .2rem;
  span{
    position: absolute;
    left: 0;
    width: 20%;
    height: 0.12rem;
    background: linear-gradient(left, #FFD74B , #FF6E67);
    border-radius: .2rem;
  }

}

}


.flow-warp{
  position: absolute;
  right: 6rem;
  top:0;
  width: 30%;
  color: #fff;
  .sub-title{
    font-size: 1.17rem;
    margin-bottom:10px ;
    color: #F94A6F;
    &.train{color: #1767F2;}
  }
  .lengs{
    margin-bottom: 3rem;
    p{position: relative;
      padding-left:4rem;
      font-size: 1rem;
      margin-right: 3rem;
    &:before{
      content: '';
      width:3rem;
      height:0.2rem;
      background:#fff;
      border-radius: 1rem;
      position: absolute;
      left: 0;
      top:50%;
      margin-top: -.1rem;
    }
    &:nth-child(2){
      &:before{
        background: linear-gradient(left, #FF3C59 , #FF38C6);
        border-radius: 1rem;
      }
    }
    &:nth-child(3){
      &:before{
        background: linear-gradient(left, #9D1AF1 , #FF37E1);
        border-radius: 1rem;
      }
    }
  }
  &.train{
    p{
      &:nth-child(2){
        &:before{
          background: linear-gradient(left, #40D1BD , #2D85E1);
          border-radius: 1rem;
        }
      }
      &:nth-child(3){
        &:before{
          background: linear-gradient(left, #3A3FDD , #1767F2);
          border-radius: 1rem;
        }
      }
    }

  }
}

}

.total-warp{left: 6rem;top:0;position: absolute;color:#fff;
  .chart-box{
    width: 40rem;
    margin-right: 6rem;
    position: relative;
    .chart{position: absolute;width: 16rem;height:16rem;left: 50%; margin-left: -8rem;top:2rem;
    .charts{
      position: absolute;
      left: 0;
      width: 100%!important;
      height: 100%!important;
    }

    }
    .list{
      position: relative;z-index: 2;

      .name{ background: linear-gradient(left, rgba(206, 76, 229, 1) ,#F94A6F);width: 8rem;height: 2rem;line-height: 2rem;font-size:1.17rem;border-radius:0.17rem;display: inline-block;text-align: center;margin-right:.5rem;box-shadow:0rem 0.17rem 0.83rem 0rem rgba(0,0,0,0.5);
      &.train{
        background:linear-gradient(223deg,rgba(62,204,232,1) 0%,rgba(4,110,252,1) 100%,rgba(249,74,111,1) 100%);
      }
      }
      .fun{font-family:'numFont';font-size: 1.67rem;display: inline-block;min-width: 2rem;}
      p{border-bottom: 1px solid #fff;padding-bottom: .2rem;display: inline-block;position: absolute;
          &:nth-child(1){
            left: 0;
            width:19.5rem;
            top:2.1rem;
          }
          &:nth-child(2){
            left: 0;
            width:14.6rem;
            top:6.1rem;
          }
          &:nth-child(3){
            left: 0;
            width:17.6rem;
            top:9.5rem;
          }
          &:nth-child(4){
            text-align: right;
            right: 0;
            width:17rem;
            top:7.1rem;
          }
          &:nth-child(5){
            text-align: right;
            right: 0;
            width:18.6rem;
            top:8.8rem;
          }

      }
      &.train{

      }
    }
  }
}
